<div class="showcontainer">

  <div class="showuserimage">
    <%= cl_image_tag @bien.user.profile_picture,style:"width: 60px; height: 60px;crop: :fill; border-radius: 50px; position: absolute; margin-left: 10px; margin-top: 10px"%>
  </div>
  <div class="showimagebien">
    <%= cl_image_tag @bien.bien_picture %>
  </div>

  <div class="showinfos">
    <div class="showville">
    <p><strong><%= @bien.user.surnom%></strong> est propriétaire de ce bien à  <strong><%=@bien.ville%></strong>.</p>
    </div>
    <div class="showloyé">
      <p>Loyé : <%=@bien.loyé%>€ mensuel.</p>
    </div>
    <div class="showmeublé">
      <p>Loué en <%=@bien.meublé == true ? "meublé." : "non meublé."%></p>
    </div>
  </div>

</div>
